@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>


    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
   
    <label for="browser">Choose your current browser : </label>
    <input list="browsers" id="browser" name="browser" />
    <datalist id="browsers">
        <option id="Chrome">Chrome</option>
        <option id="MozillaFirefox">Mozilla Firefox</option>
        <option id="MicrosoftEdge">Microsoft Edge</option>
    </datalist>
    <br /><br />
    <select id="codes">
        <option value="codes">HTML</option>
        <option>CSS</option>
        <option>JAVASCRIPT</option>
    </select>

    <br /><br />
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>