<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP Request Properties</title>
</head>
<body>

    <br /><br />
    <form action="/action_page.php" method="post">
        <input class="form-control" type="text" required="" placeholder="username" oninvalid="this.setCustomValidity('Please Enter valid input')" oninput="setCustomValidity('')">
        <br />
        <input class="form-control" type="text" placeholder="password" />
        <br />
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <br /><br />
    <div class="container-fluid">
        <table class=" table table-bordered table-hover">
            <tr>

            </tr>
        </table>
    </div>


    <script src="App.js"></script>
</body>
</html>