@*@model WebApplication3.Models.ProductModel*@
    //Strongly Typed Views
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ProductID</th>
            <td>@ViewBag.MatchingProduct.ProductID</td>
        </tr>
        <tr>
            <th>ProductID</th>
            <td>@ViewBag.MatchingProduct.ProductName</td>
        </tr>
        <tr>
            <th>ProductID</th>
            <td>@ViewBag.MatchingProduct.Rate</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>